@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    direction: rtl;
}
*{
    font-family: Yekan Bakh FaNum !important;
  }
@font-face {
	font-family: Yekan Bakh FaNum;
	font-style: normal;
	font-weight: 100;
	src: url('assets/fonts/Yekan-Bakh/woff/YekanBakhFaNum-thin.woff') format('woff'),   
	url('assets/fonts/Yekan-Bakh/woff2/YekanBakhFaNum-thin.woff2') format('woff2');		
}

@font-face {
	font-family: Yekan Bakh FaNum;
	font-style: normal;
	font-weight: 300;
	src: url('assets/fonts/Yekan-Bakh/woff/YekanBakhFaNum-Light.woff') format('woff'),   
	url('assets/fonts/Yekan-Bakh/woff2/YekanBakhFaNum-Light.woff2') format('woff2');	
}

@font-face {
	font-family: Yekan Bakh FaNum;
	font-style: normal;
	font-weight: normal;
	src: url('assets/fonts/Yekan-Bakh/woff/YekanBakhFaNum-Regular.woff') format('woff'),   
	url('assets/fonts/Yekan-Bakh/woff2/YekanBakhFaNum-Regular.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh FaNum;
	font-style: normal;
	font-weight: 600;
	src: url('assets/fonts/Yekan-Bakh/woff/YekanBakhFaNum-SemiBold.woff') format('woff'),   
	url('assets/fonts/Yekan-Bakh/woff2/YekanBakhFaNum-SemiBold.woff2') format('woff2');		 
}


@font-face {
	font-family: Yekan Bakh FaNum;
	font-style: normal;
	font-weight: bold;
	src: url('assets/fonts/Yekan-Bakh/woff/YekanBakhFaNum-Bold.woff') format('woff'),   
	url('assets/fonts/Yekan-Bakh/woff2/YekanBakhFaNum-Bold.woff2') format('woff2'); 
}

@font-face {
	font-family: Yekan Bakh FaNum;
	font-style: normal;
	font-weight: 800;
	src: url('assets/fonts/Yekan-Bakh/woff/YekanBakhFaNum-ExtraBold.woff') format('woff'),   
	url('assets/fonts/Yekan-Bakh/woff2/YekanBakhFaNum-ExtraBold.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh FaNum;
	font-style: normal;
	font-weight: 900;
	src: url('assets/fonts/Yekan-Bakh/woff/YekanBakhFaNum-Black.woff') format('woff'),   
	url('assets/fonts/Yekan-Bakh/woff2/YekanBakhFaNum-Black.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh FaNum;
	font-style: normal;
	font-weight: 950;
	src: url('assets/fonts/Yekan-Bakh/woff/YekanBakhFaNum-ExtraBlack.woff') format('woff'),   
	url('assets/fonts/Yekan-Bakh/woff2/YekanBakhFaNum-ExtraBlack.woff2') format('woff2');		 
}

.scrollbar-thin{
    scrollbar-width: thin;
    scrollbar-color:#888;
}
.scrollbar-thin::-webkit-scrollbar {
    width: 5px;
    margin: 0 5px ;
}
 
/* Track */
.scrollbar-thin::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
.scrollbar-thin::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
.scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.content>*{
    padding:5px 0;
}


.content h1 {
    font-size: 1.5rem; /* 3 times the body text */
    line-height: 2rem;
    font-weight: 800;
  }
  
  .content h2 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.75rem; /* 2 times the body text */
  }
  
  .content h3 {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.75rem; /* 1 ½ times the body text */
  }
  .content p:empty{
   height: 1.5rem;
  }
  .content p{
    text-align: justify;
  }
  .content img{
 
      width: 600px;
      height: 400px;
      border-radius: 10px;
      max-width:90%;
      height: auto;
      margin: 15px auto;
    
  }
